
.container__popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
}
.container__popup.popupSuccess {
  display: none;
}
.container__popup.popupFailure {
  display: none;
}
.container__popup .popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding-top: 84px;
  padding-bottom: 80px;
}
.popup_close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.popup_main {
  padding: 0 114px;
  text-align: center;
}
.popup__sussecc--icon {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.popup__sussecc--icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup--title {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 16px;
}
.popupSuccess .popup--title {
  color: var(--primary-color);
}
.popupFailure .popup--title {
  color: #cb2027;
}
.popup--talk {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-color);
  margin-bottom: 60px;
}
.popupSuccess .popup--talk {
  color: var(--primary-color);
}
.popupFailure .popup--talk {
  color: #cb2027;
}
.popup_btn-backhome {
  padding: 8px 55px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--primary-color);
  color: #ffc107;
}

/* custom boostrap */
.modal-header {
  border-bottom: none;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #153c72;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 20px;
}
.modal-desc {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;;
}
.sidebar .form--title  {
  margin-bottom: 5px;
}
.sidebar .modal-desc {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.modal-header .close {
  position: absolute;
  top: 12px;
  right: 12px;
  float: unset;
}
@media screen and (max-width: 768px) {
  .modal-desc { 
    width: 100%;
  }
  .popup__content {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .popup_main {
    padding: 0 18px;
  }
  .popup--talk {
    margin-bottom: 32px;
  }
  .popup_btn-backhome {
    padding: 8px 18px;
  }
  .modal-title {
    margin-top: 52px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 414px) {
}
